.modal{
    display: flex;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
    background-color: rgba(255, 255, 255, 0.89);
    border: 2px solid rgb(240, 240, 240);
    border-radius: 12px;
    position: absolute;
    width: 60%;
    height: 100%;
    top: 30px;
    left: calc(35% - 200px);
    bottom: 30px;
}

.closeButton{
    width: 40px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px #3333;
    background-color: #EDE5E5;
    padding: 10px;
    text-align: center;
    border: 2px solid #444;
    margin-left: 100px;
    cursor: pointer;
    transition: all 300ms ease;
}

.closeButton:hover{
    background-color: #000;
    color: azure;
}


